/**
 * To load a module, use the source command to execute its loading script, and
 * then call the module_register_module procedure with the module name.
 */

source module/Test/Module.sql
CALL module_register_module ('test', TRUE);
