[submodule "vendor/SQLUnit"]
	path = vendor/SQLUnit
	url = https://github.com/SQLOL/SQLUnit.git
[submodule "vendor/StdLib"]
	path = vendor/StdLib
	url = https://github.com/SQLOL/StdLib.git
[submodule "vendor/AssetManager"]
	path = vendor/AssetManager
	url = https://github.com/SQLOL/AssetManager.git
[submodule "vendor/Config"]
	path = vendor/Config
	url = https://github.com/SQLOL/Config.git
