<div class="jumbotron">
  <div class="container">
    <h1>Stored Procedure Web</h1>
    <p>SPW is a Web Scale opinionated MVC framework built in pure SQL.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Go Web Scale</h2>
      <p>SPW eliminates the middle-man, making your application totally Web Scale. Who needs NoSQL when SQL does it all?</p>
      <p><a class="btn btn-default" href="/about#web-scale" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Performance</h2>
      <p>Running your application in the same scope as your data means that data processing and relational models are faster than ever!</p>
      <p><a class="btn btn-default" href="/about#performance" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Security</h2>
      <p>With your application running in SQL, there's no chance of SQL injection. Code with confidence.</p>
      <p><a class="btn btn-default" href="/about#security" role="button">View details &raquo;</a></p>
    </div>
  </div>
